* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  padding: 15px;
  row-gap: 15px;
  column-gap: 15px;
  /* gap: 0px 15px; */
  justify-content: space-evenly;
  align-items: stretch; /*Estica*/
  flex-wrap: wrap-reverse;
}

.item {
  width: 200px;
  /* height: 200px; */
  background-color: #fff;
  border: 2px solid #000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
