* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  max-height: 100vh;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: 15px 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-image img {
  height: 30px;
}

.container-nav ul {
  color: #fff;
  list-style: none;
  display: flex;
  gap: 5px;
}

.container-nav li {
  border: 1px outset #fff;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  transition: 0.4S;
}

.container-nav li:hover {
  border-color: #ff0044;
  cursor: pointer;
}
